@import 'src/styles/mixins';

.skills, .interests, .projects, .achievements, .languages {
  padding: 0 1.25rem;
  order: 1;

  @include mobile {
    padding: 0;
    order: 2;
  }

  &__title {
    padding: 1rem 0;
    font-size: 2.675rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: #4aa0ae;
    box-sizing: border-box;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__item {
    margin-right: 0.625rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 0.875rem;
    border-radius: 0.625rem;

    @include mobile {
      font-size: 1.125rem;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;

    .svg__icon {
      width: 0.75rem;
      height: 0.75rem;
      margin-left: 0.625rem;
    }
  }
}

.skills__item {
  color: #fff;
  background-color: #0891B2;
}

.interests__item {
  border: 0.125rem solid #8c8c8c;
}

.projects, .achievements, .languages {
  &__item {
    padding: 0;
  }
}
